In [3]:
#For this lab, we will be using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder. Check out the files_for_lab/about.md to get more information if you are using the Online Excel.

#Note: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

#1) Show the dataframe shape.

import pandas as pd 
import numpy as np

In [4]:
!ls

Lab Customer Analysis Round 2_W1_D2.ipynb
files_for_lab
readme.md
testgit

In [5]:
marketing_customer_analysis = pd.read_excel('files_for_lab/excel_files/marketing_customer_analysis.xlsx')

In [6]:
marketing_customer_analysis.shape

(10910, 26)

In [7]:
#2) Standardize header names.

display(marketing_customer_analysis.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [8]:
cols = []
for i in range(len(marketing_customer_analysis.columns)):
    cols.append(marketing_customer_analysis.columns[i].lower())
marketing_customer_analysis.columns = cols

In [9]:
display(marketing_customer_analysis.columns)

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [10]:
marketing_customer_analysis.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [11]:
#3) Which columns are numerical? Which columns are categorical?

marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  datetime64[ns]
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10277 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10277 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.2+ MB

In [12]:
#4) Check and deal with NaN values.

#measure the sum of NaN values with the function: print(df.isna().sum())
print(marketing_customer_analysis.isna().sum())

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [14]:
marketing_customer_analysis.shape

(10910, 26)

In [11]:
# to deal with NaN values there are diferent methods, depending on what is the porpuse:

# df = df.dropna() --> remove rows or columns that contain NaN values
# df = df.fillna(0) --> replace NaN values with a specific value. For example, to replace all NaN values with 0
# df = df.interpolate() --> fill NaN values with interpolated values.
# df = df.ffill() --> fill NaN values with the previous value. 
# df = df.bfill() --> fill NaN values with the next value.
# df = df.assign() --> assign a value to specific cells based on certain conditions.

# if want to do it just for a specific column i use: df['A'] = df['A'].fillna(0)

In [17]:
marketing_customer_analysis.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [29]:
display('state', marketing_customer_analysis['state'].unique())
display('response',marketing_customer_analysis['response'].unique())

'state'

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

'response'

array(['No', 'Yes', nan], dtype=object)

In [61]:
#Desition for numerical values. Stats Description. 

#' months since last claim stats:' 
print('months since last claim stats:')
display(marketing_customer_analysis['months since last claim'].describe())
print("NaN ", marketing_customer_analysis['months since last claim'].isna().sum())
print("NaN / Total: ",round(marketing_customer_analysis['months since last claim'].isna().sum()/marketing_customer_analysis['months since last claim'].count()*100,2),"%")

months since last claim stats:

count    10277.000000
mean        15.149071
std         10.080349
min          0.000000
25%          6.000000
50%         14.000000
75%         23.000000
max         35.000000
Name: months since last claim, dtype: float64

NaN  633
NaN / Total:  6.16 %

In [63]:
# in this case because the Std is relatively high, is not recomendable to replace with the mean or mode values. Other aproach that is not jet teach should be applied, like interpolation or regression. For This excercie i will apply mean. 

mean_mslc = marketing_customer_analysis['months since last claim'].mean()

marketing_customer_analysis['months since last claim'] = marketing_customer_analysis['months since last claim'].fillna(mean_mslc)

In [67]:
marketing_customer_analysis['months since last claim'].isna().sum()

0

In [68]:
# Dealing with: number of open complaints
# Stats

print('number of open complaints:')
display(marketing_customer_analysis['number of open complaints'].describe())
print("NaN ", marketing_customer_analysis['number of open complaints'].isna().sum())
print("NaN / Total: ",round(marketing_customer_analysis['number of open complaints'].isna().sum()/marketing_customer_analysis['number of open complaints'].count()*100,2),"%")

number of open complaints:

count    10277.000000
mean         0.384256
std          0.912457
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          5.000000
Name: number of open complaints, dtype: float64

NaN  633
NaN / Total:  6.16 %

In [69]:
#in this case i will replace the missing values with the value 0, assuming that the NaN represent no Complaints. 

marketing_customer_analysis['number of open complaints'] = marketing_customer_analysis['number of open complaints'].fillna(0)    


marketing_customer_analysis['number of open complaints'].isna().sum()

0

In [70]:
print(marketing_customer_analysis.isna().sum())
display(marketing_customer_analysis.info())

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  datetime64[ns]
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10910 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10910 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.2+ MB

None

In [71]:
# Now i just have "object" columns types to replace

# Dealing with 'Response': 

display('response',marketing_customer_analysis['response'].unique())

'response'

array(['No', 'Yes', nan], dtype=object)

In [79]:
marketing_customer_analysis['response'].mode()
display(marketing_customer_analysis['response'].describe())

count     10279
unique        2
top          No
freq       8813
Name: response, dtype: object

In [80]:
# In this case i will replace NaN for the Mode that is No 8813 in 10279 times. 

marketing_customer_analysis['response'] = marketing_customer_analysis['response'].fillna("No")    


marketing_customer_analysis['response'].isna().sum()

0

In [82]:
# Dealing with State: 

#Is not possible to replace with any value and it feels like an imporatnt value, it will be better to erase the NaN

marketing_customer_analysis = marketing_customer_analysis[marketing_customer_analysis['state'].isna()==False]

In [83]:
display(marketing_customer_analysis.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10279 entries, 0 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10279 non-null  int64
 1   customer                       10279 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10279 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10279 non-null  object
 6   education                      10279 non-null  object
 7   effective to date              10279 non-null  datetime64[ns]
 8   employmentstatus               10279 non-null  object
 9   gender                         10279 non-null  object
 10  income                         10279 non-null  int64
 11  location code                  10279 non-null  object
 12  marital status                 10279 non-null  object
 13  monthly premium auto           10279 non-null  int64
 14  months since last claim        10279 non-null  float64
 15  months since policy inception  10279 non-null  int64
 16  number of open complaints      10279 non-null  float64
 17  number of policies             10279 non-null  int64
 18  policy type                    10279 non-null  object
 19  policy                         10279 non-null  object
 20  renew offer type               10279 non-null  object
 21  sales channel                  10279 non-null  object
 22  total claim amount             10279 non-null  float64
 23  vehicle class                  9688 non-null   object
 24  vehicle size                   9688 non-null   object
 25  vehicle type                   5115 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.1+ MB

None

In [84]:
print(marketing_customer_analysis.isna().sum())

unnamed: 0                          0
customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     591
vehicle size                      591
vehicle type                     5164
dtype: int64

In [87]:
display('vehicle class',marketing_customer_analysis['vehicle class'].unique())
display('vehicle size ',marketing_customer_analysis['vehicle size'].unique())

'vehicle class'

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

'vehicle size '

array(['Medsize', 'Small', 'Large', nan], dtype=object)

In [88]:
# Dealing with 'vehicle class'
print("NaN / Total: ",round(marketing_customer_analysis['vehicle class'].isna().sum()/marketing_customer_analysis['vehicle class'].count()*100,2),"%")

NaN / Total:  6.1 %

In [89]:
#Is not possible to replace with any value, as theu are not so many, 6,1% , it will be better to erase the NaN

marketing_customer_analysis = marketing_customer_analysis[marketing_customer_analysis['vehicle class'].isna()==False]

In [90]:
print(marketing_customer_analysis.isna().sum())

unnamed: 0                          0
customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                       0
vehicle size                        0
vehicle type                     4869
dtype: int64

In [91]:
#Dealing whit 'vehicle type'

display('vehicle type',marketing_customer_analysis['vehicle type'].unique())

'vehicle type'

array([nan, 'A'], dtype=object)

In [92]:
#It seems that the only tipe is vahicle type A, i will replace NaN with "A" (it will be better to confirm with the people that know about the car types on the cmpany first)


marketing_customer_analysis['vehicle type'] = marketing_customer_analysis['vehicle type'].fillna("A")    


marketing_customer_analysis['vehicle type'].isna().sum()

/var/folders/2b/6f80d7g11sl53b_wrqy2w81r0000gn/T/ipykernel_5668/3926224545.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marketing_customer_analysis['vehicle type'] = marketing_customer_analysis['vehicle type'].fillna("A")

0

In [93]:
display(marketing_customer_analysis.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9688 entries, 0 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     9688 non-null   int64
 1   customer                       9688 non-null   object
 2   state                          9688 non-null   object
 3   customer lifetime value        9688 non-null   float64
 4   response                       9688 non-null   object
 5   coverage                       9688 non-null   object
 6   education                      9688 non-null   object
 7   effective to date              9688 non-null   datetime64[ns]
 8   employmentstatus               9688 non-null   object
 9   gender                         9688 non-null   object
 10  income                         9688 non-null   int64
 11  location code                  9688 non-null   object
 12  marital status                 9688 non-null   object
 13  monthly premium auto           9688 non-null   int64
 14  months since last claim        9688 non-null   float64
 15  months since policy inception  9688 non-null   int64
 16  number of open complaints      9688 non-null   float64
 17  number of policies             9688 non-null   int64
 18  policy type                    9688 non-null   object
 19  policy                         9688 non-null   object
 20  renew offer type               9688 non-null   object
 21  sales channel                  9688 non-null   object
 22  total claim amount             9688 non-null   float64
 23  vehicle class                  9688 non-null   object
 24  vehicle size                   9688 non-null   object
 25  vehicle type                   9688 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.0+ MB

None

In [94]:
marketing_customer_analysis.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A

In [12]:
#5) Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [13]:
#6) BONUS: Put all the previously mentioned data transformations into a function.